<footer class="container-fluid text-center mt-5">
    <hr>


    <p>
      This is not endorsed or certified by TMDb.
    </p>
    <br>
</footer>


<%- include('../includes/starter'); -%>
</body>



</html>