<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Page Not Found!</h1>
    <div class="centered">
        <img src="https://image.freepik.com/free-vector/404-error-poster-with-page-found-use-website_1284-49337.jpg" alt="404_picture">
    </div>
<%- include('includes/end.ejs') %>