:root {
  --formGap: 0.875rem;
}

.align {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  place-items: center;
}

.grid {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  max-width: 20rem;
}

ul li {
  list-style: none;
}

h1 {
  text-align: center;
  font-size: medium;
}

h2 {
  text-align: center;
  font-size: large;
}

img .center {
  width: 25%;
}