/* Remove the navbar's default margin-bottom and rounded borders */

html {
    font-size: 14px;
    color: rgb(16, 22, 41);
}

*{
    font-family: 'Poppins', sans-serif;
}

.card-text {
    font-size: 14px;
}

.movieBoard {
    text-align: center;
}

@media (min-width: 750px) {
    .movieBoard {
        display: grid;
        /* grid-template-columns: repeat(2, 1fr); */
    }

    .movieCard img, .card {
        width: 10rem;
    }


}

