<%- include('includes/head.ejs') %>
<%- include('includes/header.ejs') %>
<link rel="stylesheet" href="css/main.css">

<!-- <link rel="stylesheet" href="/css/items.css"> -->


</head>
<body>
    <%- include('includes/navigation.ejs') %>
   
    <h1 class="error-page">Page Not Found!</h1>
    <div  >
        <img src="https://image.freepik.com/free-vector/404-error-poster-with-page-found-use-website_1284-49337.jpg" alt="404_picture">
    </div>
<%- include('includes/end.ejs') %>