<%- include('includes/head.ejs') %>
<%- include('includes/header.ejs') %>
<link rel="stylesheet" href="/css/main.css">


</head>

<body class="centered">
    <%- include('includes/navigation.ejs') %>
    <h1>An Error Occurred!</h1>
    <p1>We're working on fixing the error!</p1>
    <p2>Sorry for the inconvinience!</p2>
       <div class="centered">
        <img src="https://image.freepik.com/free-vector/illustration-error-500-modern-flat-design-concept-gate-barrier-website_29028-190.jpg" alt="500_picture">
        </div>
</body>

<%- include('includes/end.ejs') %>