<footer class="container-fluid text-center mt-5">
    <hr>
    <p>
      This is not endorsed or certified by TMDb.
    </p>
    <br>
</footer>


<script href="/script/toggle.js"></script>

<%- include('../includes/starter'); -%>
</body>



</html>