<!-- Display either Movie or TV shows and their details  -->
<!-- <%- include('../includes/head.ejs') %> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="../../public/css/main.css">
</head>

<body class="container">
    <h1>Media Details Page!</h1>
    <p1><%= movieDetails.original_title %></p1>
    <footer>
    
    </footer>
    </body>
    
    </html>
